@import './CCS/header.css';
@import './CCS/hero.css';
@import './CCS/presentation.css';
@import './CCS/project.css';
@import './CCS/team.css';
@import './CCS/stadystic.css';
@import './CCS/partnes.css';
@import './CCS/extern.css';
@import './CCS/footer.css';


:root {
    --white: #fff;
    --black: #212121;
    --purple: #800080;
    --green: #008000;
    --red: #E63946;
    --gray: #808080;
}

* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 1440px;
    height: 4923px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    width: 1408px;
    height: 4923px;
    padding: 0px 88px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.header {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 97px;
    align-self: stretch;
}

li {
    text-decoration: none;
}
