@import './CCS/header.css';
@import './CCS/hero.css';
@import './CCS/presentation.css';
@import './CCS/projects.css';
@import './CCS/team.css';
@import './CCS/stadystic.css';
@import './CCS/partnes.css';
@import './CCS/extern.css';
@import './CCS/footer.css';


:root {
    --white: #fff;
    --black: #212121;
    --purple: #800080;
    --green: #008000;
    --red: #E63946;
    --gray: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    
}

.wrapper {
    max-width: 1408px;
    padding: 16px 88px 0px;
    margin: auto;
    /*border: 1px solid red;*/
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 16px;
    align-items: center;
}

ul, li, a {
    text-decoration: none;
    color: var(--black);
    list-style: none;

}

.chaos {
    color: var(--white);
}

a {
    text-align: center;
}

p {
    align-self: stretch;
    color: var(--black, #212121);
    text-align: center;
    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

h4 {
    align-self: stretch;
    color: var(--black, #212121);

    /* web/h4-bold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

img {
    width: 100px;
}


