.footer .wrapper {
    display: flex;
    padding: 80px;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}

.access {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.profile__section {
    display: flex;
    width: 284px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.I__bold {
    color: #000;

    /* web/paragraph-large-bold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    align-self: stretch;
}

.social__section {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
}

.menu__section, .contact__section {
    display: flex;
    width: 284px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.footer .wrapper .access .section {
    max-width: 25%;
}


