.logo {
    display: flex;
    color: var(--black, #212121);
    font-family: Poppins;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu {
    display: flex; 
    align-items: center;
    align-self: stretch;
}

.item__menu {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
