.logo {
    display: flex;    
    color: var(--black, #212121);

    /* web/h2-bold */
    font-family: Poppins;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu {
    display: flex; 
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    justify-content: space-around;
}

.item__menu {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
